name: voice_recorder
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  #flutter_sound: ^9.28.0
  permission_handler: ^12.0.1
  path_provider: ^2.1.2
  audioplayers: ^6.5.1
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  curved_navigation_bar: ^1.0.6
 # sound_stream: ^0.4.1
 # mic_stream: ^0.7.2
  record: ^5.2.0
  share_plus: ^10.1.2
  flutter_local_notifications: ^19.3.0
  flutter_foreground_task: ^9.1.0
  flutter_launcher_icons: ^0.14.2
  firebase_auth: ^6.0.0
  firebase_core: ^4.0.0
  #fluttertoast: ^8.2.12
  provider: ^6.1.1
  google_mobile_ads: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter_launcher_icons:
  android: true
  image_path: "assets/icon/voice-recorder.png"


  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:

  assets:
  - assets/img.png

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
